<html>
    <!DOCTYPE html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% if (name !== "") {%>
                <%- include("../partials/header_log"); %>
            <% } else { %>
                <%- include("../partials/header"); %>
            <% }%>
        </header>
        <div class="container">
            <div class="jumbotron" style="margin-top: 15px">
                <div class="row">
                    <div class="col-6">
                         <h1>Bonjour <%= name %></h1>
                         <p>lorem ipsum</p>
                    </div>
                </div>

                    <% for (var i = 0; i < usr.length ; i++) { %>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    user: <%= usr[i].username %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <img src="<%= usr[i].pics %>" class="rounded img-fluid" style="width: 200px; height: 200px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <% include ../partials/footer %>
        <% if (name === "") {%>
            <%- include('../partials/login_script'); %>
        <% } %>
    </body>

</html>
