<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header_log %>
    <span id="alert_container"></span>
    <div class="container" style="margin-top: 15px">
      <div class="jumbotron">
          <span id="nouser"></span>
          <div class="row">
        <% for (var i = 0; i < usrs.length ; i++) { %>
        <% if (name !== usrs[i].username && usr_matched.indexOf(usrs[i].username) != -1) { %>
          <div class="col-sm-6 col-md-4">
            <div class="card text-center">
              <div class="card-header">
                <h4 class="card-title"><%= usrs[i].username %></h4>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col">
                    <% if (usrs[i].pics == undefined) { %>
                      <img src='/pp/default.png' class="rounded mx-auto like" style="max-width: 150px">
                    <% } else { %>
                      <img src="<%= usrs[i].pics %>" class="rounded mx-auto like" style="max-width: 150px">
                    <% } %>
                      <h1></h1>
                      <small style="text-muted"><%= usrs[i].age %> years old</small><br>
                      Gender: <% if (usrs[i].gender === "male") { %>&#9794;<% } %>
                              <% if (usrs[i].gender === "female") { %>&#9792;<% } %>
                              <% if (usrs[i].gender === "other") { %>&#9906;<% } %>
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <button type="button" class="btn matcha_button chat_button" name="button" id='<%= usrs[i].username %>'>Say hello !</button>
                          </div>
                          <div class="col">
                            <button type="button" class="btn matcha_button profile_button" name="button" id='<%= usrs[i].username %>'>View profile</button>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
        <% } %>
      </div>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/ws %>
    <script type="text/javascript">
      let chat = document.getElementsByClassName("chat_button")
      let profile = document.getElementsByClassName("profile_button")

      if (chat.length == 0) {
        document.getElementById("nouser").innerHTML = "<div class='row'><div class='col'><p class='text-center'>You have no match</p></div></div>"
      }
      for (let i = 0; i < chat.length; i++) {
        chat[i].addEventListener('click', () => {
          document.location.href = "/tchat?id=" + chat[i].id
        }, false)
      }
      for (let i = 0; i < profile.length; i++) {
        profile[i].addEventListener('click', () => {
          document.location.href = "/profile?usr=" + profile[i].id
        }, false)
      }
    </script>
  </body>
</html>
