<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header_log %>
    <div class="container" style="margin-top: 15px">
      <div class="jumbotron">
        <div class="row">
          <span id="nouser"></span>
        <% for (var i = 0; i < usrs.length ; i++) { %>
        <% if (name !== usrs[i].username && usr_matched.indexOf(usrs[i].username) != -1) { %>
          <div class="col">
            <div class="row">
              <div class="col">
                <div style="background-color: rgba(224, 166, 77, 0)">
                  <img src="<%= usrs[i].pics %>" class="rounded mx-auto like" style="width: 20vw; height: 20vw">
                </div>
              </div>
              <div class="col-8" style=" border: 1px dashed #FF5F6D; margin: 15px; min-width: 200px; padding: 10px">
                <h4 style="color: #FF5F6D"><%= usrs[i].username %></h4>
                <small class="text-muted"><%= usrs[i].age %> years old</small>
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn matcha_button chat_button" name="button" id='<%= usrs[i].username %>'>Say hello !</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn matcha_button profile_button" name="button" id='<%= usrs[i].username %>'>View profile</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% } %>
        <% } %>
      </div>
    </div>
    <% include ../partials/footer %>
    <script type="text/javascript">
      let chat = document.getElementsByClassName("chat_button")
      let profile = document.getElementsByClassName("profile_button")

      if (chat.length == 0) {
        document.getElementById("nouser").innerHTML = "<div class='row'><div class='col'><p class='text-center'>You have no match</p></div></div>"
      }
      for (let i = 0; i < chat.length; i++) {
        chat[i].addEventListener('click', () => {
          document.location.href = "/tchat?id=" + chat[i].id
        }, false)
      }
      for (let i = 0; i < profile.length; i++) {
        profile[i].addEventListener('click', () => {
          document.location.href = "/profile?usr=" + profile[i].id
        }, false)
      }
    </script>
  </body>
</html>
