<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <%- include("../partials/header_log"); %>
        </header>
        <div class="container">
            <div class="jumbotron" style="margin-top: 15px">
                <div class="row">
                  <div class="col">
                    <h1>My profile</h1>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-4">
                    <div style="background-color: rgba(224, 166, 77, 0)">
                      <img src="<%= obj.pics %>" class="rounded mx-auto d-block like" style="width: 20vw; height: 20vw" id="pp">
                    </div>
                  </div>
                  <div class="col" style=" border: 1px dashed #FF5F6D;">
                    <h4>About me:</h4>
                    <small class="text-muted"><%= obj.age %> years old</small>
                    <p id="biographie" style="color:#FF5F6D;"><%= obj.bio %></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h1>My private informations </h1>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col" style="">
                        Name: <%= obj.name %><br />
                        Surname: <%= obj.surname %> <br />
                        E-Mail: <%= obj.email %> <button type="button" name="change_mail" class="btn btn-info">Change e-mail adress</button><br />
                        I am <i><%= obj.gender %></i> searching for <i><% if (obj.pref != undefined) {
                            if (obj.pref === "male") {
                              %> men
                            <% } else if (obj.pref === "female") {
                                %> women <% } else if (obj.pref === "other") {
                                  %> men or women <% }
                          } %> </i><br />
                    </div>
                </div><br>
                <hr>
                <div class="container">
                    <div class="row">
                        <h1>Update your profile</h1>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <form class="form-controller" action="index.html" method="post" id="fin_subs">
                              <div class="form-group">
                                <label for="name" class="form-control-label">Name: </label>
                                <input class="form-control" type="text" name="name" value="<%= obj.name %>" required>
                              </div>
                              <div class="form-group">
                                <label for="name" class="form-control-label">Surname: </label>
                                <input class="form-control" type="text" name="surname" value="<%= obj.surname %>" required>
                              </div>
                              <div class="form-group">
                                <label for="email" class="form-control-label">E-Mail:</label>
                                <input class="form-control" type="text" name="email" value="<%= obj.email %>" required>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label" for="age">Age: </label>
                                <input type="number" name="age" class="form-control" min="18" max="125" value="<%= obj.age %>" required>
                                <small class="form-text text-muted">You must be oldier than 18 years old</small>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label" for="gender">Gender: </label>
                                <select name="gender" class="form-control" required>
                                  <option value="male" <% if (obj.gender === 'male') {%> selected <% } %>>Male</option>
                                  <option value="female" <% if (obj.gender === 'female') {%> selected <% } %>>Female</option>
                                  <option value="other" <% if (obj.gender === 'other') {%> selected <% } %>>Other</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label" for="age">You are searching for: </label>
                                <select name="pref" class="form-control" required>
                                  <option value="male" <% if (obj.pref === 'male') {%> selected <% } %>>Men</option>
                                  <option value="female" <% if (obj.pref === 'female') {%> selected <% } %>>Women</option>
                                  <option value="other" <% if (obj.pref === 'other') {%> selected <% } %>>Both</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label class="form-control-label" for="age">Interest: </label>
                                <span style="color: #FF5F6D;">
                                  <% for (var i = 0; i < obj.interest.length; i++) { %>
                                    #<%= obj.interest[i] %> <% if (obj.interest[i + 1] != undefined) { %>, <% } %>
                                  <% } %>
                                </span>
                                <input class="form-control" type="text" name="interest" value="<% for (var i = 0; i < obj.interest.length; i++) { %><%= obj.interest[i] %><% if (obj.interest[i + 1] != undefined) { %>,<% } %><% } %>" id="interest" required>
                                <small class="form-text text-muted">Every interest must be separated by a coma without any spaces. Example: music,dev,video_games</small>
                              </div>
                              <button type="submit" class="btn btn-default matcha_button" name="button">Update your informations</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col">
                        <h1>Upload pictures / Update your bio </h1>
                      </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <form class="form-controller" action="index.html" method="post" id="upload_pictures">
                                <div class="form-group">
                                    <label for="profile_picture">Upload your photo:</label>
                                    <input type="file" class="form-control-file" aria-describedby="fileHelp" name="profile_picture">
                                    <small id="fileHelp" class="form-text text-muted">Choose the photo that you want to upload <br>
                                    A 200x200 picture is better</small>
                                </div>
                                <button type="submit" class="btn btn-primary matcha_button">Upload picture</button>
                            </form>
                        </div>
                        <div class="col">
                            <form class="form-controller" method="post" id="update_bio">
                                <div class="form-group">
                                    <label for="bio">Update bio:</label>
                                    <textarea name="bio" class="form-control " rows="5" cols="80" id="bio" maxlength="250"><%= obj.bio %></textarea>
                                    <small class="form-text text-muted">(250 characters maximum)</small>
                                    <button type="submit" name="button" class="btn btn-info matcha_button">Update My Bio</button>
                                </div>
                            </form>
                        </div>
                    </div><br><hr>
                    <div class="row">
                        <div class="col">
                            <h1> Your pictures</h1>
                            <small class="text-muted"> Click on one of your pictures to set it as your profile picture</small>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <% for (var i = 0; i < pics.length ; i++) {%>
                                <img src="/pp/<%= pics[i].img.filename %>" id="<%= pics[i].img.filename %>" class="rounded img-fluid img_user" style="width:15vw; height: 15vw">
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
        <% include ../partials/ws %>
        <script type="text/javascript">
        const xhr = new XMLHttpRequest()
        let form_fin_subs = document.getElementById("fin_subs");
        form_fin_subs.addEventListener('submit', (e) => {
            e.preventDefault()
            xhr.open('POST', '/finish_sub', true)
            xhr.send(new FormData(form_fin_subs))
            xhr.onload = () => {
            if (xhr.status === 200 && xhr.readyState === 4) {
                if (xhr.responseText === "ok") {
                    alert('Informations updated')
                    document.location.reload()
                } else {
                    alert("Something went wrong")
                    }
                }
            }
        }, false);
        let sub_pics = document.getElementById("upload_pictures")

        sub_pics.addEventListener('submit', (e) => {
            e.preventDefault()
            xhr.open('POST', '/up_pics', true)
            xhr.send(new FormData(sub_pics))
            xhr.onload = () => {
                if (xhr.status === 200 && xhr.readyState === 4) {
                    if ( xhr.responseText === "OK") {
                        alert('Upload completed')
                        document.location.reload()
                    } else if (xhr.responseText === "error") {
                        alert('Something went wrong')
                    }
                }
            }
        }, false)


        let update_bio = document.getElementById("update_bio")
        update_bio.addEventListener('submit', (e) => {
            e.preventDefault();
            xhr.open('POST', '/update_bio', true)
            xhr.send(new FormData(update_bio))
            xhr.onload = () => {
                if (xhr.status === 200 && xhr.readyState === 4) {
                    if (xhr.responseText === "ok") {
                        document.getElementById("biographie").innerHTML = document.getElementById("bio").value
                    } else if (xhr.responseText === "error") {
                        alert("Don't use special character like '<' or '>'")
                    }                }
            }
        }, false)

        let pictures_user = document.getElementsByClassName("img_user")
        for (let i = 0; i < pictures_user.length; i++) {
            pictures_user[i].addEventListener('click', (e) => {
                e.preventDefault()
                xhr.open('GET', '/update_pp?id=' + pictures_user[i].id, true)
                xhr.send()
                xhr.onload = () => {
                    if (xhr.status === 200 && xhr.readyState === 4) {
                        if (xhr.responseText === "ok") {
                            document.getElementById("pp").src = "/pp/" + pictures_user[i].id
                        } else if (xhr.responseText === "error") {
                            alert("Something went wrong :( ")
                        }
                    }
                }
            }, false)
        }

        </script>
    </body>
</html>
