<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header_log %>
    <div class="container" style="margin-top: 15px">
      <div class="jumbotron">
        <h1>Private messages with <%= usr2 %> </h1>
        <div class="row" style='padding: 8px; background-color: rgb(198, 198, 198); border-radius: 5px 5px 5px 5px; margin: 10px'>
          <div class="col" id="message">
            <% for (var i = 0; i < messages.length; i++) { %>
              <% if (messages[i].sender !== usr) { %>
                <div class="row">
                  <div class="col-5" style="font-size: 15px; background-color: #FF5F6D; border: 1px solid black; border-radius: 5px 5px 5px 5px; width: 80%; padding: 5px; margin-bottom: 5px; word-break: break-all;">
                    <%= messages[i].value %>
                  </div>
                </div>
              <% } else { %>
                <div class="row">
                  <div class="col-5 offset-7" style="font-size: 15px; background-color: #FFC371; border: 1px solid black; border-radius: 5px 5px 5px 5px; width: 80%; padding: 5px; text-align: right; margin-bottom: 5px; word-break: break-all;">
                    <%= messages[i].value %>
                  </div>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
        <form class="" action="index.html" method="post">
          <div class="row">
            <div class="col">
              <input required class="form-control" name="message" type="text" id="usr_message" style="width: 100%;" value="" placeholder="Enter your message">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn matcha_button" type="submit" id="send_message" name="button" style="heigth: 100%">&#x27BD;</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/ws %>
  </body>
  <script type="text/javascript">
    const ws_chat = new WebSocket('ws://localhost:3000/chat')
    const msg_div = document.getElementById("message")
    const text = document.getElementById("usr_message")

    function escapeHtml(text) {
  var map = {
    '&': '&amp;',
    '<': '&lt;',
    '>': '&gt;',
    '"': '&quot;',
    "'": '&#039;'
  };

  return text.replace(/[&<>"']/g, function(m) { return map[m]; });
}
    ws_chat.onopen = () => {

    }

    ws_chat.onerror = (error) => {
      console.log(error)
    }
    document.getElementById('send_message').addEventListener('click', (e) => {
      e.preventDefault()
      ws_chat.send(JSON.stringify({ sender: '<%= usr %>', receiver: '<%= usr2 %>', msg: document.getElementById("usr_message").value }))
      ws.send(JSON.stringify({ sender: '<%= usr %>', receiver: '<%= usr2 %>', msg: "message" }))
      document.getElementById("usr_message").value = ""
    }, false)

    ws_chat.onmessage = (message) => {
      try {
        let msg = JSON.parse(message.data)
        if ('<%= user %>' === msg.sender && msg.msg !== "") {
          let new_col = document.createElement("div")
          let new_div = document.createElement("div")
          let p = document.createElement("p")
          new_div.className = "row"
          new_col.className = "col-4 offset-8"
          new_col.style = "font-size: 15px; background-color: #FFC371; border: 1px solid black; border-radius: 5px 5px 5px 5px; width: 80%; padding: 5px; text-align: right; word-break: break-all;"
          p.innerHTML = escapeHtml(msg.msg)
          new_col.appendChild(p)
          new_div.appendChild(new_col)
          msg_div.appendChild(new_div)
        } else {
          let new_col = document.createElement("div")
          let new_div = document.createElement("div")
          let p = document.createElement("p")
          new_div.className = "row"
          new_col.className = "col-4"
          new_col.style = "font-size: 15px; background-color: #FF5F6D; border: 1px solid black; border-radius: 5px 5px 5px 5px; width: 80%; padding: 5px; word-break: break-all;"
          p.innerHTML = escapeHtml(msg.msg)
          new_col.appendChild(p)
          new_div.appendChild(new_col)
          msg_div.appendChild(new_div)
        }
      } catch (e) {
        console.log("Not a json")
      }
    }
  </script>
</html>
